USE [master]
GO
/****** Object:  Database [redarbor]    Script Date: 30/04/2021 0:27:29 ******/
CREATE DATABASE [redarbor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'redarbor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\redarbor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'redarbor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\redarbor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [redarbor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [redarbor]
GO
USE [redarbor]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 30/04/2021 0:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[Email] [varchar](100) NULL,
	[Fax] [varchar](11) NULL,
	[Name] [varchar](100) NULL,
	[Lastlogin] [datetime] NULL,
	[Password] [nvarchar](max) NULL,
	[PortalId] [int] NULL,
	[RoleId] [int] NULL,
	[StatusId] [int] NULL,
	[Telephone] [varchar](11) NULL,
	[UpdatedOn] [date] NULL,
	[Username] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
